@import "./scss/_includes.scss";
@import "./scss/_banner.scss";
html,
body,
header {
  padding: 0;
  margin: 0;
  font-family: $serif;
}

body {
  min-height: 95vh;
}

a {
  color: $link;
  text-decoration: underline;
  &:hover {
    color: lighten($blue, 25%);
    text-decoration: underline !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans;
  color: $secondary;
  font-size: 2rem;
}

h3 {
  font-family: $title;
  color: darken($accent, 30%);
  font-size: 3rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem
}

.wrap {
  min-height: 90vh;
}

code {
  color: lighten($purple, 25%);
  margin: 0 0.5rem;
}

footer {
  color: lighten($purple, 25%);
  text-align: center;
  font-size: small;
}