.App-header {
  background-color: $primary;
  max-height: 60vh;
  padding: .25rem 1rem;
  padding-bottom: 0;
  .App-logo {
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
    max-height: 50vh;
    min-height: 200px;
    width: 80%;
  }
}

.main-nav {
  list-style: none;
  .navItem {
    border-right: 1rem solid $yellow;
    border-right: 0;
    a {
      display: block;
      padding: .5rem 2rem;
      color: darken($link, 30%);
      font-size: 1.25rem;
      &:hover,
      &:active {
        background-color: $body-bg;
        color: $orange;
      }
    }
  }
}

.tog {
  position: absolute;
  right: 1rem;
  top: 1rem;
}