$orange:#d34300;
$blue:  #0e8bc5;
$yellow:#D4AA00;
$green: #668000;
$purple:#666699;

$primary: $yellow;
$secondary: $green;
$muted:$purple;
$accent: $orange;
$link:$blue;

$body-bg: $yellow;
$body-color:#121;