@import '_colors.scss';
@import '_responsive.scss';
@import '_page.scss';
@import url('https://fonts.googleapis.com/css?family=Dosis|Noticia+Text|Squada+One');
@import 'node_modules/bootstrap/scss/bootstrap';
$sans: 'Dosis',
'Helvetica',
'Verdana',
sans-serif;
$serif: 'Noticia Text',
'Georgia',
'Times',
serif;
$title: 'Squada One',
'Helvetica',
'Verdana',
sans-serif;