.page {
  position: absolute;
  top: 1vh;
  background-color: white;
  margin: 1rem 5vw;
  color: black;
  width: 90vw;
  min-height: 80vh;
  min-width: 300px;
  .card-img-top {
    border-bottom: 1rem solid $secondary;
  }
}

.pageMenu {
  width: 100%;
  background-color: $secondary;
  padding: .5rem 1rem;
  .dropdown-menu {
    a:hover {
      background-color: $primary;
    }
    a.active {
      background-color: lighten($purple, 15%);
      &:hover {
        background-color: darken($purple, 15%);
      }
    }
  }
}

.pageContent {
  position: relative;
  padding: 2rem;
}

.small-logo {
  height: 40px;
}